{% extends 'HealthApps/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <h1>Patients</h1>
        Click on a patient to view their Electronic Medical Record
        <br/>
        <br/>
        {% if user_type == "doctor" or user_type == "admin" %}
        <a href="/transferPatientList" class="btn btn-primary">Accept transfer patients/View admitted patients</a>
        <br/>
        <br/>
        {% endif %}
        <table class="table table-striped table-hover ">
            <tr>
                <th>Patient Name</th>
                <th>Insurance Number</th>
            </tr>
            {% if patients|length > 0 %}
                {% for patient in patients %}
                    <tr class="clickable-row" data-href="/EMR/{{ patient.id }}" style="cursor: pointer; cursor: hand;">
                        <td>{{ patient.user.first_name }} {{ patient.user.last_name }}</td>
                        <td>{{ patient.insurance_number }}</td>
                    </tr>
                {% endfor %}

                <script>
                    jQuery(document).ready(function($) {
                        $(".clickable-row").click(function() {
                            window.document.location = $(this).data("href");
                        });
                    });
                </script>
            {% else %}
                <tr><td colspan="2">Nothing here yet!</td></tr>
            {% endif %}
        </table>
    </div>
    {% else %}
        Please Log in <a href="login">here</a>.
    {% endif %}
{% endblock %}